## Import the dataset from nltk library.

In [2]:
from nltk.corpus import reuters

In [3]:
# Print the categories of reuters dataset
reuters.categories()

['acq',
 'alum',
 'barley',
 'bop',
 'carcass',
 'castor-oil',
 'cocoa',
 'coconut',
 'coconut-oil',
 'coffee',
 'copper',
 'copra-cake',
 'corn',
 'cotton',
 'cotton-oil',
 'cpi',
 'cpu',
 'crude',
 'dfl',
 'dlr',
 'dmk',
 'earn',
 'fuel',
 'gas',
 'gnp',
 'gold',
 'grain',
 'groundnut',
 'groundnut-oil',
 'heat',
 'hog',
 'housing',
 'income',
 'instal-debt',
 'interest',
 'ipi',
 'iron-steel',
 'jet',
 'jobs',
 'l-cattle',
 'lead',
 'lei',
 'lin-oil',
 'livestock',
 'lumber',
 'meal-feed',
 'money-fx',
 'money-supply',
 'naphtha',
 'nat-gas',
 'nickel',
 'nkr',
 'nzdlr',
 'oat',
 'oilseed',
 'orange',
 'palladium',
 'palm-oil',
 'palmkernel',
 'pet-chem',
 'platinum',
 'potato',
 'propane',
 'rand',
 'rape-oil',
 'rapeseed',
 'reserves',
 'retail',
 'rice',
 'rubber',
 'rye',
 'ship',
 'silver',
 'sorghum',
 'soy-meal',
 'soy-oil',
 'soybean',
 'strategic-metal',
 'sugar',
 'sun-meal',
 'sun-oil',
 'sunseed',
 'tea',
 'tin',
 'trade',
 'veg-oil',
 'wheat',
 'wpi',
 'yen',
 'zinc']

In [4]:
# Check for the documents in jobs category.
reuters.fileids(categories=['jobs'])

['test/14867',
 'test/14974',
 'test/15045',
 'test/15365',
 'test/15485',
 'test/16100',
 'test/16158',
 'test/17633',
 'test/18533',
 'test/18539',
 'test/18616',
 'test/18672',
 'test/18987',
 'test/18990',
 'test/18993',
 'test/18996',
 'test/19000',
 'test/19985',
 'test/19986',
 'test/20248',
 'test/21525',
 'training/10135',
 'training/1040',
 'training/11159',
 'training/11160',
 'training/11276',
 'training/12507',
 'training/12534',
 'training/12555',
 'training/12743',
 'training/12752',
 'training/12818',
 'training/14771',
 'training/2000',
 'training/2197',
 'training/2618',
 'training/2746',
 'training/3024',
 'training/3472',
 'training/3520',
 'training/3717',
 'training/4036',
 'training/4091',
 'training/4306',
 'training/4698',
 'training/4700',
 'training/5215',
 'training/5392',
 'training/6158',
 'training/6603',
 'training/6951',
 'training/7004',
 'training/7010',
 'training/7013',
 'training/7070',
 'training/8173',
 'training/867',
 'training/8681',
 'training/8746',
 'training/889',
 'training/895',
 'training/955',
 'training/9751',
 'training/9805',
 'training/9812',
 'training/9834',
 'training/9897']

In [5]:
x = reuters.paras(fileids=['training/9897'])
# printing original list 
print("The original list : " + str(x))

The original list : [[['KEATING', 'REVISES', 'DOWN', 'AUSTRALIAN', 'GROWTH', 'FORECAST', 'Treasurer', 'Paul', 'Keating', 'forecast', 'economic', 'growth', 'at', 'slightly', 'under', 'two', 'pct', 'in', 'the', 'financial', 'year', 'ending', 'June', 'this', 'year', ',', 'down', 'from', 'the', '2', '.', '25', 'pct', 'forecast', 'contained', 'in', 'the', '1986', '/', '87', 'budget', 'delivered', 'last', 'August', '.'], ['Australia', "'", 's', 'terms', 'of', 'trade', 'also', 'fell', ',', 'by', '18', 'pct', ',', 'over', 'the', 'past', 'two', 'years', ',', 'he', 'told', 'Parliament', '.'], ['Terms', 'of', 'trade', 'are', 'the', 'difference', 'between', 'import', 'and', 'export', 'price', 'indexes', '.'], ['Despite', 'the', 'figures', ',', 'the', 'budget', 'forecast', 'of', 'about', '1', '.', '75', 'pct', 'annual', 'growth', 'in', 'employment', 'would', 'be', 'met', ',', 'Keating', 'said', '.'], ['Unemployment', 'is', 'currently', 'at', '8', '.', '2', 'pct', 'of', 'the', 'workforce', '.'], ['"', 'This', 'government', 'is', 'dragging', 'Australia', 'through', 'a', 'trading', 'holocaust', 'the', 'kind', 'of', 'which', 'we', 'have', 'not', 'seen', 'since', 'the', 'Second', 'World', 'War', ',"', 'Keating', 'said', '.'], ['"', 'We', 'are', 'not', 'pushing', 'this', 'place', 'into', 'a', 'recession', '.'], ['We', 'are', 'not', 'only', 'holding', 'our', 'gains', 'on', 'unemployment', ',', 'we', 'are', 'bringing', 'unemployment', 'down', ',"', 'he', 'said', ',', 'adding', 'that', 'the', 'government', 'had', 'help', 'the', 'country', 'avoid', 'recession', '.']]]

In [6]:
def get_list_values(text, temp=[]):
    for item in text:
        if type(item) == list:
            temp = get_list_values(item, temp)

        else:
            temp.append(item)

    return temp

 
res = ' '.join(get_list_values(x))
res

'KEATING REVISES DOWN AUSTRALIAN GROWTH FORECAST Treasurer Paul Keating forecast economic growth at slightly under two pct in the financial year ending June this year , down from the 2 . 25 pct forecast contained in the 1986 / 87 budget delivered last August . Australia \' s terms of trade also fell , by 18 pct , over the past two years , he told Parliament . Terms of trade are the difference between import and export price indexes . Despite the figures , the budget forecast of about 1 . 75 pct annual growth in employment would be met , Keating said . Unemployment is currently at 8 . 2 pct of the workforce . " This government is dragging Australia through a trading holocaust the kind of which we have not seen since the Second World War ," Keating said . " We are not pushing this place into a recession . We are not only holding our gains on unemployment , we are bringing unemployment down ," he said , adding that the government had help the country avoid recession .'

In [ ]:
res = res.replace(" . ", ".")

In [ ]:
res = res.replace("pct","%")
res

In [ ]:
import spacy
from spacy import displacy
import en_core_web_sm

# Create an instance of the small pipeline and model from SpaCy
nlp = en_core_web_sm.load()

# Apply the complete NER pipeline from SpaCy (preprocessing + model prediction)
doc = nlp(res)

# Show the entities detected in a nice way
displacy.render(doc, jupyter=True, style='ent')

## NER using Spacy

In [14]:
doc = nlp(res)

entities = []
labels = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    
df = pd.DataFrame({'Entities':entities,'Labels':labels})

df

                                            Entities   Labels
0                                    (Paul, Keating)   PERSON
1                          (slightly, under, two, %)  PERCENT
2   (the, financial, year, ending, June, this, year)     DATE
3                                          (2.25, %)  PERCENT
4                                             (1986)     DATE
5                                     (last, August)     DATE
6                                        (Australia)      GPE
7                                            (18, %)  PERCENT
8                            (the, past, two, years)     DATE
9                                       (Parliament)      ORG
10                                  (about, 1.75, %)  PERCENT
11                                          (annual)     DATE
12                                         (Keating)   PERSON
13                                          (8.2, %)  PERCENT
14                                       (Australia)      GPE
15                         (the, Second, World, War)    EVENT
16                                         (Keating)   PERSON

In [19]:
top_entities = (df.groupby(by=['Entities', 'Labels'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))
top_entities

                                            Entities   Labels  Frequency
0                                    (Paul, Keating)   PERSON          1
1                                       (Parliament)      ORG          1
2                          (the, Second, World, War)    EVENT          1
3                                        (Australia)      GPE          1
4                                           (8.2, %)  PERCENT          1
5                                          (Keating)   PERSON          1
6                                           (annual)     DATE          1
7                                   (about, 1.75, %)  PERCENT          1
8                            (the, past, two, years)     DATE          1
9                          (slightly, under, two, %)  PERCENT          1
10                                           (18, %)  PERCENT          1
11                                       (Australia)      GPE          1
12                                    (last, August)     DATE          1
13                                            (1986)     DATE          1
14                                         (2.25, %)  PERCENT          1
15  (the, financial, year, ending, June, this, year)     DATE          1
16                                         (Keating)   PERSON          1

In [20]:
import pandas as pd
import nltk
named_entities = []
for sentence in res:
    temp_entity_name = ''
    temp_named_entity = None
    sentence = nlp(res)
    for word in sentence:
        term = word.text 
        tag = word.ent_type_
        if tag:
            temp_entity_name = ' '.join([temp_entity_name, term]).strip()
            temp_named_entity = (temp_entity_name, tag)
        else:
            if temp_named_entity:
                named_entities.append(temp_named_entity)
                temp_entity_name = ''
                temp_named_entity = None

entity_frame = pd.DataFrame(named_entities, 
                            columns=['Entity Name', 'Entity Type'])

In [21]:
# get the top named entities
top_entities = (entity_frame.groupby(by=['Entity Name', 'Entity Type'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))
top_entities.T.iloc[:,:17]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Entity Name,Australia,Keating,18 %,1986,2.25 %,8.2 %,Parliament,Paul Keating,about 1.75 % annual,last August,slightly under two %,the Second World War,the financial year ending June this year,the past two years
Entity Type,GPE,PERSON,PERCENT,DATE,PERCENT,PERCENT,ORG,PERSON,DATE,DATE,PERCENT,EVENT,DATE,DATE
Frequency,1894,1894,947,947,947,947,947,947,947,947,947,947,947,947

In [37]:
doc = nlp(res)
print(*[(e.text, e.label_) for e in doc.ents], sep=' ')

('Paul Keating', 'PERSON') ('slightly under two %', 'PERCENT') ('the financial year ending June this year', 'DATE') ('2.25 %', 'PERCENT') ('1986', 'DATE') ('last August', 'DATE') ('Australia', 'GPE') ('18 %', 'PERCENT') ('the past two years', 'DATE') ('Parliament', 'ORG') ('about 1.75 %', 'PERCENT') ('annual', 'DATE') ('Keating', 'PERSON') ('8.2 %', 'PERCENT') ('Australia', 'GPE') ('the Second World War', 'EVENT') ('Keating', 'PERSON')

In [22]:
words = nltk.word_tokenize(res)
#Part of speech tagging
pos_tags = nltk.pos_tag(words)
pos_tags

[('KEATING', 'NN'),
 ('REVISES', 'NNP'),
 ('DOWN', 'NNP'),
 ('AUSTRALIAN', 'NNP'),
 ('GROWTH', 'NNP'),
 ('FORECAST', 'NNP'),
 ('Treasurer', 'NNP'),
 ('Paul', 'NNP'),
 ('Keating', 'NNP'),
 ('forecast', 'JJ'),
 ('economic', 'JJ'),
 ('growth', 'NN'),
 ('at', 'IN'),
 ('slightly', 'RB'),
 ('under', 'IN'),
 ('two', 'CD'),
 ('%', 'NN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('financial', 'JJ'),
 ('year', 'NN'),
 ('ending', 'VBG'),
 ('June', 'NNP'),
 ('this', 'DT'),
 ('year', 'NN'),
 (',', ','),
 ('down', 'RB'),
 ('from', 'IN'),
 ('the', 'DT'),
 ('2.25', 'CD'),
 ('%', 'NN'),
 ('forecast', 'NN'),
 ('contained', 'VBN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('1986', 'CD'),
 ('/', '$'),
 ('87', 'CD'),
 ('budget', 'NN'),
 ('delivered', 'VBN'),
 ('last', 'JJ'),
 ('August.Australia', 'NNP'),
 ("'", 'POS'),
 ('s', 'NN'),
 ('terms', 'NNS'),
 ('of', 'IN'),
 ('trade', 'NN'),
 ('also', 'RB'),
 ('fell', 'VBD'),
 (',', ','),
 ('by', 'IN'),
 ('18', 'CD'),
 ('%', 'NN'),
 (',', ','),
 ('over', 'IN'),
 ('the', 'DT'),
 ('past', 'JJ'),
 ('two', 'CD'),
 ('years', 'NNS'),
 (',', ','),
 ('he', 'PRP'),
 ('told', 'VBD'),
 ('Parliament.Terms', 'NNP'),
 ('of', 'IN'),
 ('trade', 'NN'),
 ('are', 'VBP'),
 ('the', 'DT'),
 ('difference', 'NN'),
 ('between', 'IN'),
 ('import', 'NN'),
 ('and', 'CC'),
 ('export', 'NN'),
 ('price', 'NN'),
 ('indexes.Despite', 'VBP'),
 ('the', 'DT'),
 ('figures', 'NNS'),
 (',', ','),
 ('the', 'DT'),
 ('budget', 'NN'),
 ('forecast', 'NN'),
 ('of', 'IN'),
 ('about', 'RB'),
 ('1.75', 'CD'),
 ('%', 'NN'),
 ('annual', 'JJ'),
 ('growth', 'NN'),
 ('in', 'IN'),
 ('employment', 'NN'),
 ('would', 'MD'),
 ('be', 'VB'),
 ('met', 'VBN'),
 (',', ','),
 ('Keating', 'VBG'),
 ('said.Unemployment', 'NN'),
 ('is', 'VBZ'),
 ('currently', 'RB'),
 ('at', 'IN'),
 ('8.2', 'CD'),
 ('%', 'NN'),
 ('of', 'IN'),
 ('the', 'DT'),
 ('workforce', 'NN'),
 ('.', '.'),
 ("''", "''"),
 ('This', 'DT'),
 ('government', 'NN'),
 ('is', 'VBZ'),
 ('dragging', 'VBG'),
 ('Australia', 'NNP'),
 ('through', 'IN'),
 ('a', 'DT'),
 ('trading', 'NN'),
 ('holocaust', 'NN'),
 ('the', 'DT'),
 ('kind', 'NN'),
 ('of', 'IN'),
 ('which', 'WDT'),
 ('we', 'PRP'),
 ('have', 'VBP'),
 ('not', 'RB'),
 ('seen', 'VBN'),
 ('since', 'IN'),
 ('the', 'DT'),
 ('Second', 'NNP'),
 ('World', 'NNP'),
 ('War', 'NNP'),
 (',', ','),
 ("''", "''"),
 ('Keating', 'NNP'),
 ('said', 'VBD'),
 ('.', '.'),
 ("''", "''"),
 ('We', 'PRP'),
 ('are', 'VBP'),
 ('not', 'RB'),
 ('pushing', 'VBG'),
 ('this', 'DT'),
 ('place', 'NN'),
 ('into', 'IN'),
 ('a', 'DT'),
 ('recession.We', 'NN'),
 ('are', 'VBP'),
 ('not', 'RB'),
 ('only', 'RB'),
 ('holding', 'VBG'),
 ('our', 'PRP$'),
 ('gains', 'NNS'),
 ('on', 'IN'),
 ('unemployment', 'NN'),
 (',', ','),
 ('we', 'PRP'),
 ('are', 'VBP'),
 ('bringing', 'VBG'),
 ('unemployment', 'NN'),
 ('down', 'RB'),
 (',', ','),
 ("''", "''"),
 ('he', 'PRP'),
 ('said', 'VBD'),
 (',', ','),
 ('adding', 'VBG'),
 ('that', 'IN'),
 ('the', 'DT'),
 ('government', 'NN'),
 ('had', 'VBD'),
 ('help', 'VBN'),
 ('the', 'DT'),
 ('country', 'NN'),
 ('avoid', 'JJ'),
 ('recession', 'NN'),
 ('.', '.')]

In [ ]:
from nltk.tag import StanfordNERTagger
from nltk.tokenize import word_tokenize

st = StanfordNERTagger('/usr/share/stanford-ner/classifiers/english.all.3class.distsim.crf.ser.gz',
                       '/usr/share/stanford-ner/stanford-ner.jar',encoding='utf-8')


tokenized_text = word_tokenize(res)
classified_text = st.tag(tokenized_text)

print(classified_text)

In [ ]:
from nltk.tag import StanfordNERTagger
import os

# set java path
java_path = r'C:\Program Files\Java\jdk1.8.0_102\bin\java.exe'
os.environ['JAVAHOME'] = java_path

# initialize NER tagger
sn = StanfordNERTagger('E:/stanford/stanford-ner-2014-08-27/classifiers/english.all.3class.distsim.crf.ser.gz',
                       path_to_jar='E:/stanford/stanford-ner-2014-08-27/stanford-ner.jar')

# tag named entities
ner_tagged_sentences = [sn.tag(sent.split()) for sent in corpus]

# extract all named entities
named_entities = []
for sentence in ner_tagged_sentences:
    temp_entity_name = ''
    temp_named_entity = None
    for term, tag in sentence:
        if tag != 'O':
            temp_entity_name = ' '.join([temp_entity_name, term]).strip()
            temp_named_entity = (temp_entity_name, tag)
        else:
            if temp_named_entity:
                named_entities.append(temp_named_entity)
                temp_entity_name = ''
                temp_named_entity = None

#named_entities = list(set(named_entities))
entity_frame = pd.DataFrame(named_entities, 
                            columns=['Entity Name', 'Entity Type'])
                            

# view top entities and types
top_entities = (entity_frame.groupby(by=['Entity Name', 'Entity Type'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))
top_entities.head(15)


# view top entity types
top_entities = (entity_frame.groupby(by=['Entity Type'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))
top_entities.head()